<%- include("header.ejs") %>
  <body>
    <div class="container flex-container">
      <div class="timer mb-4">
        <%= currentDate %>
      </div>
      <div class="app">
        <h1>To-Do List</h1>
        <div class="my-4">
          <form action="/addTask" method="POST">
            <div class="wrapper">
              <input type="text" id="task" name="task" required />
              <button type="submit">+</button>
            </div>
          </form>
        </div>
        <div>
          <ul>
            <% tasks.forEach((task, index) => { %>
            <div>
              <li class="flex-row">
                <div>
                  <input
                    type="checkbox"
                    class="task-checkbox"
                    id="task<%= index %>"
                    name="task"
                    value="<%= task %>"
                    onchange="toggleClass('task<%= index %>')"
                  />
                  <label for="task<%= index %>"><%= task %></label>
                </div>
                <div class="cancel" data-index="<%= index %>">
                  <p>x</p>
                </div>
              </li>
            </div>

            <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <script>
      function toggleClass(checkboxId) {
        var checkbox = document.getElementById(checkboxId);
        var label = checkbox.nextElementSibling;

        if (checkbox.checked) {
          label.classList.add("checked");
        } else {
          label.classList.remove("checked");
        }
      }
    </script>
<%- include("footer.ejs") %>
