<%- include("header.ejs") %>
  <body>
    <div class="container flex-container">
      <div class="timer mb-4">
        <%= currentDate %>
      </div>
      <div class="app">
        <h1>To-Do List</h1>
        <div class="my-4">
          <form class ="form-submit" action="/" method="POST">
            <div class="wrapper">
              <input type="text" id="item" name="item" required />
              <button type="submit">+</button>
            </div>
          </form>
        </div>
        <div>
          <ul>
            <% foundItems.forEach((item, index) => { %>
              <form action="/delete" method="POST">
                
                  <li class="flex-row">
                      
                        <input
                        type="checkbox"
                        class="task-checkbox"
                        id="item<%= index %>"
                        name="item"
                        onchange="toggleClass(id);this.form.submit();"
                        value="<%=item._id %>"
                      />
                      <label for="item"><%= item.name %></label>
                    
                        
                      
                  </li>
               
              </form>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
    <script>
      function toggleClass(checkboxId) {
        var checkbox = document.getElementById(checkboxId);
        var label = checkbox.nextElementSibling;
    
        if (checkbox.checked) {
          label.classList.add("checked");
        } else {
          label.classList.remove("checked");
        }
      }
    </script>
<%- include("footer.ejs") %>
